/*
	MATERIA: Programación IV
	NOMBRE PROYECTO: Sistema de Gestión de Envíos.
	DESARROLLADO POR: Hiram González V-26164832
*/
@charset "utf-8";

.mod{
	background-color: rgba(242,242,242,.95);
	height: 81vh;
	margin-bottom: 4%;
	margin-top: 1%;
}

.titulo{
	margin-left: 3%;
	color: #696969;
}

.linea{
	border-color: rgba(0,108,255,.6);
}

section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#envoltura{
	background-color: rgba(242,242,242,.8);
	border: 3px solid rgba(255,0,0,.6);
    border-radius: 10px;
	width: 75%;
	margin: 23vh auto;
}

#cuerpo{
	padding: 10px;
}

.op{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}